<div>
    <header class="home-card-header">
        <mat-card class="home-card">
            <mat-card-content class="home-card-contents">
                <mat-card-content>
                    <mat-card-title class="mat-h1">Kans op een beroerte?</mat-card-title>
                    <p class="mat-h2">Ontdek hoe groot jouw kans is om een beroerte te krijgen met een simpele test.</p>
                    <p></p><br />
                </mat-card-content>
                <br />
                <mat-card-content>
                    <button routerLink="/Test" mat-raised-button color="default">Start test</button>
                </mat-card-content>
            </mat-card-content>
        </mat-card>
    </header>
    <div class="container">
        <!-- Add description, data usage, privacy,  -->
        <div class="description-box">
            <div class="row">
                <div class="col">
                    <h1>Hoe de Beroerte Check werkt</h1>
                </div>
            </div>
            <div class="row card-row">
                <div class="col-md-3">
                    <mat-card class="card-description">
                        <h2>Voorspellingen maken</h2>
                        <mat-card-content>
                            <p>De Beroerte Check maakt op basis van jouw gegevens een voorspelling door middel van AI.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="card-description">
                        <h2>AI model</h2>
                        <mat-card-content>
                            <p>De AI model die gebruikt wordt om een voorspelling te maken is getraind met soortgelijke informatie zodat die weet hoe groot de kans is om een beroerte te krijgen op basis van de gegevens die hij leest.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="card-description">
                        <h2>Data privacy</h2>
                        <mat-card-content>
                            <p>Je ingevulde gegevens worden alleen gebruikt om een voorspelling met AI en wordt verder niet opgeslagen op andere servers. De gegevens worden alleen op deze website gebruikt en niet verder gedeeld met andere partijen.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="card-description">
                        <h2>Geen exacte voorspellingen</h2>
                        <mat-card-content>
                            <p>Deze test en advies mag je op eigen risico uitvoeren en gebruiken en is geen professionele methode om een test te doen.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>